@import "./../../design-system/typography/typography.scss";

.button {
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  padding: 0.625rem 1.5rem;

  @include m3-label-large;
  letter-spacing: 0.03125rem;
  color: var(--md-sys-color-on-primary);
  border-radius: var(--md-corner-full);
  background-color: var(--md-sys-color-primary);
}

.button:hover {
  background-color: rgb(87, 72, 124);
  box-shadow: 0rem 0.0625rem 0.125rem 0rem rgba(0, 0, 0, 0.3),
    0rem 0.0625rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.15);
}

.button:active {
  background-color: rgb(70, 56, 106);
  box-shadow: none;
}
