// Angular Material theme reset should be imported before the import of root level CSS variables
@import "design-system/angular-material-theme-reset";
@import "design-system/shape/shape";
@import "design-system/themes/light";
@import "design-system/typography/typography";
@import "design-system/typography/typography_mixins";
// AG Grid theme imports
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-material.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";
@import "ag-grid-community/styles/ag-theme-quartz.css";

html,
body {
  font-size: 16px;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  background: var(--sys-surface);
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4 {
  all: unset;
}

input,
textarea {
  box-sizing: border-box;
  white-space: pre-wrap;
  overflow: auto;
  resize: none;
  padding: 0.5rem 0.625rem;
  @include m3-body-large;
  color: var(--sys-on-surface);
  border: none;
  border-radius: var(--m3-corner-small);
  background: var(--sys-surface-container-high);

  &:focus {
    outline: 0.125rem solid var(--sys-on-surface);
  }

  &:not(:focus).error {
    outline: 0.125rem solid var(--sys-error);
  }
}

// Strings being the part of the response have crucial information wrapped in <div class="bold"></div>
.bold {
  @include m3-title-medium;
}
