@import "./design-system/typography/typography.scss";
@import "./design-system/shape/shape.scss";
@import "./design-system/themes/light.scss";
// AG Grid theme imports
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-material.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';



html,
body {
  font-size: 16px;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  background: var(--md-sys-color-surface);
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
