// Typography Mixins

// Display
@mixin m3-display-large {
  font-family: 'Roboto';
  font-size: 3.5625rem; 
  font-weight: 400; // 'regular' translates to 400
  line-height: 4rem; 
  letter-spacing: 0.03125rem;
}

@mixin m3-display-medium {
  font-family: 'Roboto';
  font-size: 2.8125rem; 
  font-weight: 400; // 'regular' translates to 400
  line-height: 3.25rem; 
  letter-spacing: 0.03125rem;
}

@mixin m3-display-small {
  font-family: 'Roboto';
  font-size: 2.25rem; 
  font-weight: 400; // 'regular' translates to 400
  line-height: 2.75rem; 
  letter-spacing: 0.03125rem;
}

// Headline
@mixin m3-headline-large {
  font-family: 'Roboto';
  font-size: 2rem; 
  font-weight: 400; // 'regular' translates to 400
  line-height: 2.5rem; 
  letter-spacing: 0.03125rem;
}

@mixin m3-headline-medium {
  font-family: 'Roboto';
  font-size: 1.75rem; 
  font-weight: 400; // 'regular' translates to 400
  line-height: 2.25rem; 
  letter-spacing: 0.03125rem;
}

@mixin m3-headline-small {
  font-family: 'Roboto';
  font-size: 1.5rem; 
  font-weight: 400; // 'regular' translates to 400
  line-height: 2rem; 
  letter-spacing: 0.03125rem;
}

// Title
@mixin m3-title-large {
  font-family: 'Roboto';
  font-size: 1.375rem; 
  font-weight: 400; // 'regular' translates to 400
  line-height: 1.75rem; 
  letter-spacing: 0.03125rem;
}

@mixin m3-title-medium {
  font-family: 'Roboto';
  font-size: 1rem; 
  font-weight: 500; // 'medium' translates to 500
  line-height: 1.5rem; 
  letter-spacing: 0.03125rem;
}

@mixin m3-title-small {
  font-family: 'Roboto';
  font-size: 0.875rem; 
  font-weight: 500; // 'medium' translates to 500
  line-height: 1.25rem; 
  letter-spacing: 0.03125rem;
}

// Label
@mixin m3-label-large {
  font-family: 'Roboto';
  font-size: 0.875rem; 
  font-weight: 500; // 'medium' translates to 500
  line-height: 1.25rem; 
  letter-spacing: 0.03125rem;
}

@mixin m3-label-large-prominent {
  font-family: 'Roboto';
  font-size: 0.875rem; 
  font-weight: 600; // 'semibold' translates to 600
  line-height: 1.25rem; 
  letter-spacing: 0.03125rem;
}

@mixin m3-label-medium {
  font-family: 'Roboto';
  font-size: 0.75rem; 
  font-weight: 500; // 'medium' translates to 500
  line-height: 1rem; 
  letter-spacing: 0.03125rem;
}

@mixin m3-label-medium-prominent {
  font-family: 'Roboto';
  font-size: 0.75rem; 
  font-weight: 600; // 'semibold' translates to 600
  line-height: 1rem; 
  letter-spacing: 0.03125rem;
}

@mixin m3-label-small {
  font-family: 'Roboto';
  font-size: 0.6875rem; 
  font-weight: 500; // 'medium' translates to 500
  line-height: 1rem; 
  letter-spacing: 0.03125rem;
}

// Body
@mixin m3-body-large {
  font-family: 'Roboto';
  font-size: 1rem; 
  font-weight: 400; // 'regular' translates to 400
  line-height: 1.5rem; 
  letter-spacing: 0.03125rem;
}

@mixin m3-body-medium {
  font-family: 'Roboto';
  font-size: 0.875rem; 
  font-weight: 400; // 'regular' translates to 400
  line-height: 1.25rem; 
  letter-spacing: 0.03125rem;
}

@mixin m3-body-small {
  font-family: 'Roboto';
  font-size: 0.75rem; 
  font-weight: 400; // 'regular' translates to 400
  line-height: 1rem; 
  letter-spacing: 0.03125rem;
}
