@import "./../../../design-system/typography/typography_mixins";

:host {
  display: block;
  white-space: pre-wrap;
  min-height: 5.5rem;
  max-height: 7.2rem;
  overflow: auto;
  padding: 0.5rem 0.625rem;
  @include m3-body-large;
  color: var(--sys-on-surface);
  border: none;
  border-radius: var(--m3-corner-small);
  background: var(--sys-surface-container-high);
}

// Strings being the part of the response have crucial information wrapped in <div class="bold"></div>
::ng-deep {
  .bold {
    @include m3-title-medium;
  }
}
