@import "./../../design-system/typography/typography.scss";

// :host {
//   box-sizing: border-box;
//   flex: 1;
//   display: flex;
//   padding: var(--space-ag-cell-horizontal-padding, 18px);
//   flex-direction: column;
//   align-items: flex-start;
//   gap: 12px;

//   border-radius: var(----md-corner-medium, 12px);
//   background: var(--md-sys-color-surface-bright, #fef7ff);
// }

.card {
  box-sizing: border-box;
  flex: 1;
  display: flex;
  padding: 0.625rem 0.875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3rem;

  border-radius: var(--md-corner-medium, 0.75rem);
  background: var(--md-sys-color-surface-bright, #fef7ff);
}

.card-body,
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 0.625rem;
  flex: 1 0 0;
}

.card-title {
  @include m3-title-medium;
  color: var(--md-sys-on-surface);
}

textarea {
  resize: none;
}

.card-content,
app-results-grid {
  min-height: 5.5rem;
  align-self: stretch;
}

.card-content {
  padding: 0.5rem 0.625rem;
  @include m3-body-large;
  color: var(--md-sys-on-surface);
  border: none;
  border-radius: var(--md-corner-small, 0.5rem);
  background: var(--md-sys-color-surface-container-high, #ece6f0);
}

.button-container {
  display: flex;
  align-self: stretch;
  justify-content: flex-end;
  align-items: center;
}
