@import "./../../../design-system/typography/typography_mixins";

.button {
  cursor: pointer;
  display: flex;
  position: relative;
  border: none;
  box-sizing: border-box;
  padding: 0.625rem 1.5rem;
  transition: background-color 0.08s ease-in-out;
  border-radius: var(--m3-corner-full);
  background-color: var(--sys-primary);

  .button-content {
    z-index: 1;
    color: var(--sys-on-primary);
    @include m3-label-large;
    letter-spacing: 0.03125rem;
  }

  // MY SPEC
  &:hover {
    box-shadow: 0rem 0.0625rem 0.125rem 0rem rgba(0, 0, 0, 0.3),
      0rem 0.0625rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.15);
    background-color: rgb(87, 72, 124);
  }
  &:active {
    box-shadow: none;
    background-color: rgb(70, 56, 106);
  }
  &:disabled {
    cursor: auto;
    box-shadow: none;
    background-color: rgb(170, 165, 165);
  }

  // MATERIAL DESIGN SPEC
  // .button-overlay {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   border-radius: inherit;
  //   opacity: 0;
  //   background-color: var(--sys-on-primary);
  //   // background-color: red;
  //   transition: opacity 0.1s linear;
  //   pointer-events: none;
  // }

  // &:hover {
  //   box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.3),
  //     0 1px 3px 1px rgba(0, 0, 0, 0.15);
  //   .button-overlay {
  //     opacity: 0.08;
  //   }
  // }
  // &:active {
  //   box-shadow: none;
  //   .button-overlay {
  //     opacity: 0.1;
  //   }
  // }
  // &:disabled {
  //   box-shadow: none;
  //   cursor: auto;
  //   background-color: rgba(0, 0, 0, 0);
  //   .button-content {
  //     opacity: 0.38;
  //     color: var(--sys-on-surface);
  //   }
  //   .button-overlay {
  //     opacity: 0.12;
  //     background-color: var(--sys-on-surface);
  //   }
  // }
}