<div class="titles-container">
  <h1 class="title-main">Eksplorator bazy danych 2.0</h1>
  <h2 class="subtitle">BUDMAT</h2>
</div>

<div class="main-container">
  <div class="cards-container">
    @if (displayGrid()) {

    <!-- Dane z bazy -->
    <app-card title="Dane z bazy">
      <app-results-grid />
      <div class="button-container">
        <app-button (click)="this.displayGrid.set(false)">Powrót</app-button>
      </div>
    </app-card>

    } @else {

    <!-- Zapytanie do bazy danych -->
    <app-card title="Zapytanie do bazy danych">
      <form class="form" [formGroup]="zapytanieForm" (ngSubmit)="submitQuery()">
        <app-card-input
          [inheritedFormControl]="zapytanieForm.controls.zapytanieInput"
          [errorState]="this.dataFetchingService.errorMessage()"
          [ngClass]="
            this.dataFetchingService.isFirstAppOpen() ? 'expanded-on-init' : ''
          "
        ></app-card-input>

        <div class="bottom-row-container">
          @if (this.dataFetchingService.isLoading()) {
          <div class="custom-spinner"></div>
          } @if (this.dataFetchingService.errorMessage()) {
          <div class="error-container">
            <b>Błąd:</b> {{ this.dataFetchingService.errorMessage() }}
          </div>
          }

          <div class="button-container">
            <app-button
              [disabled]="this.dataFetchingService.isLoading()"
              type="submit"
              >Zatwierdź</app-button
            >
          </div>
        </div>
      </form>
    </app-card>

    @if (!this.dataFetchingService.isFirstAppOpen()) {
    <!-- Odpowiedź Asystenta -->
    <app-card title="Odpowiedź Asystenta"
      ><app-card-text-content
        [innerHTML]="this.dataFetchingService.formattedAnswer()"
      />
    </app-card>

    <!-- Tłumaczenie SQL -->
    <app-card title="Tłumaczenie SQL"
      ><app-card-text-content
        [innerHTML]="this.dataFetchingService.sqlStatement()"
      />
    </app-card>

    } }
  </div>

  @if (this.dataFetchingService.rowData().length > 1 && !displayGrid() &&
  !this.dataFetchingService.isFirstAppOpen()) {
  <div class="button-container">
    <app-button
      [disabled]="this.dataFetchingService.isLoading()"
      (click)="this.displayGrid.set(true)"
      >Przejdź do tabeli rezultatów</app-button
    >
  </div>
  }
</div>
