@import "./../../../design-system/typography/typography_mixins";

:host {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  border-radius: var(--m3-corner-large);
  min-width: 15rem;
  width: 42vw;
  max-width: 43rem;
}

.titles-container {
  display: flex;
  padding: 0 0.7rem;
  flex-direction: column;
}

.title-main {
  @include m3-headline-small;
  color: var(--sys-on-surface);
}

.subtitle {
  @include m3-title-medium;
  color: var(--sys-on-surface);
}

.main-container {
  display: flex;
  padding: 0.7rem;
  box-sizing: border-box;
  flex-direction: column;
  gap: 1.2rem;

  border-radius: inherit;
  background: var(--sys-surface-container-high);
}

.cards-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  gap: 1.2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

textarea {
  resize: none;
  white-space: pre-wrap;
  height: 5rem;
  overflow: auto;
  padding: 0.5rem 0.625rem;
  @include m3-body-large;
  color: var(--sys-on-surface);
  border: none;
  border-radius: var(--m3-corner-small);
  background: var(--sys-surface-container-high);

  &:not(:focus).error {
    box-shadow: inset 0 0 0 0.12rem var(--sys-error);
  }

  &.expanded-on-init {
    min-height: 6.5rem;
  }
}

.custom-spinner {
  width: 2.5rem;
  height: 2.5rem;
  border: 0.35rem solid rgba(0, 0, 0, 0.1);
  border-top: 0.35rem solid var(--sys-primary);
  border-radius: 50%;
  animation: spin 1s ease-in infinite;
  box-sizing: border-box;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bottom-row-container {
  display: flex;
  justify-content: flex-end;
  gap: 0.7rem;

  .error-container {
    flex: 1;
    @include m3-label-medium;
    padding: 0.26rem 0.5rem;
    color: var(--sys-error);
    border-radius: var(--m3-corner-small);
    background-color: var(--sys-error-container);
  }
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
