:root {
  --m3-corner-none: 0rem;
  --m3-corner-extra-small: 0.25rem;
  --m3-corner-small: 0.5rem;
  --m3-corner-medium: 0.75rem;
  --m3-corner-large: 1rem;
  --m3-corner-extra-large: 1.75rem;
  --m3-corner-full: 62.5rem;
}
