:root {
  --md-corner-none: 0rem;
  --md-corner-extra-small: 0.25rem;
  --md-corner-small: 0.5rem;
  --md-corner-medium: 0.75rem;
  --md-corner-large: 1rem;
  --md-corner-extra-large: 1.75rem;
  --md-corner-full: 62.5rem;
}
