<div class="titles-container">
  <h1 class="title-main">Eksplorator bazy danych 2.0</h1>
  <h2 class="subtitle">BUDMAT</h2>
</div>

<div class="cards-container">
  <!-- Zapytanie do bazy danych -->
  <app-card [config]="queryCardConfig" />

  <!-- Odpowiedź Asystenta -->
  <app-card [config]="aiAnswerCardConfig" />

  <!-- Tłumaczenie SQL -->
  <app-card [config]="sqlStatementCardConfig" />

  <!-- Dane z bazy -->
  <app-card [config]="gridCardConfig" />
</div>

<!-- <div class="cards-container">
  Zapytanie do bazy danych
  <div class="card">
    <h3 class="card-title">Zapytanie do bazy danych</h3>
    <div class="card-body">
      <form class="form" [formGroup]="queryForm" (ngSubmit)="onSubmit()">
        <input
          formControlName="userInput"
          type="text"
          class="card-content"
          placeholder=""
        />

        <div class="button-container">
          <button class="button">Zatwierdź</button>
        </div>
      </form>
    </div>
  </div>

  Odpowiedź Asystenta
  <div class="card">
    <h3 class="card-title">Odpowiedź Asystenta</h3>
    <div class="card-body">
      <div class="card-content">
        {{ this.dataFetchingService.formattedAnswer() }}
      </div>
    </div>
  </div>

  Tłumaczenie SQL
  <div class="card">
    <h3 class="card-title">Tłumaczenie SQL</h3>
    <div class="card-body">
      <div class="card-content">
        {{ this.dataFetchingService.sqlStatement() }}
      </div>
    </div>
  </div>
</div> -->
