# OpenAI
OPENAI_API_KEY = 

# Baza danych BUDMAT - MySQL
MYSQL_HOST = 
MYSQL_PORT = 
MYSQL_USER = 
MYSQL_PASSWORD = 
MYSQL_DATABASE = 

# Baza danych BUDMAT - MongoDB
MONGO_CONNECTION_STRING = 
MONGO_DATABASE = 
MONGO_COLLECTION_EXAMPLES = 
MONGO_COLLECTION_SCHEMAS = 

# JWT Authentication
JWT_SECRET = 
TOKEN_EXP = # in milliseconds