<div class="main-container">
  <div class="welcome-message">
    <h4>
      Witaj! Niniejsza aplikacja umożliwia wyszukiwanie informacji w bazie
      danych BUDMAT za pomocą zapytań w języku naturalnym. Wprowadź klucz
      dostępu, aby rozpocząć.
    </h4>
  </div>

  <div class="cards-container">
    <app-card cardTitle="Klucz dostępu">
      <form class="form" [formGroup]="loginForm" (ngSubmit)="submitPassword()">
        <input
          type="password"
          formControlName="password"
          [ngClass]="{
            error: this.messageService.errorMessage(),
          }"
        />

        <div class="bottom-row-container">
          @if (this.messageService.errorMessage()) {
          <div class="error-container">
            <b>Błąd:</b> {{ this.messageService.errorMessage() }}
          </div>
          } @if (this.authService.isLoading()) {
          <app-spinner />
          }

          <div class="button-container">
            <app-button type="submit">Zatwierdź</app-button>
          </div>
        </div>
      </form>
    </app-card>
  </div>
</div>
