@import "./../../../../design-system/typography/typography_mixins";

:host {
  display: flex;
  flex-direction: column;
}

textarea {
  box-sizing: border-box;
  flex: 1;
  resize: none;
  white-space: pre-wrap;
  overflow: auto;
  padding: 0.5rem 0.625rem;
  @include m3-body-large;
  color: var(--sys-on-surface);
  border: none;
  border-radius: var(--m3-corner-small);
  background: var(--sys-surface-container-high);

  &:focus {
    outline: 0.125rem solid var(--sys-on-surface);
  }

  &:not(:focus).error {
    outline: 0.125rem solid var(--sys-error);
  }
}
