:root {
  --md-corner-none: 0px;
  --md-corner-extra-small: 4px;
  --md-corner-small: 8px;
  --md-corner-medium: 12px;
  --md-corner-large: 16px;
  --md-corner-extra-large: 28px;
  --md-corner-full: 1000px;
}
